---
siteName: NYC Boroughs
---
<!doctype html>
<html lang="en-us">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{siteName}} | {{ title }}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header class="site-header">
    <h1>NYC Boroughs</h1>
  </header>

   <main>
   {{ content | safe }}
  </main>

  <footer class="site-footer">
      <div class="wiki">
        <p>Content that is from Wikipedia follows the Creative Commons Attribution-ShareAlike 3.0 Unported License.</p>
      </div>

      <div class="unsplash">
        <p>All images are from Unsplash. They are credited where possible.</p>
      </div>
      
      <div class="general"
      <p><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Unless otherwise stated, this work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</p>
      </div>
  </footer>

  
</body>

</html>





