<div class="card">
      <figure class="card_image"><img src="{{img.src}}" alt="{{img.alt}}"></figure>
      <div class="card_text">
        <p>{{img.title}}</p>
        <p class="credit">{{img.credit | safe}}</p>
      </div>
</div>